.singleView.container
    .row.jumbotron
        .col-md-6.text-center
            i.fa.fa-user.fa-3x
            p this is whats up
            p {{item.username}}
            p {{item.email}}
            p {{item.phone}}
            p {{item.website}}
        .col-md-6
            a(ui-sref="app.mail") Back To Customers